
.popup{
    align-self: center;
    background: rgb(18, 18, 18);
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 38%;
    text-align: center;
    padding: 10px 15px;
    visibility: hidden;
    transform: scale(0.2); 
    border: 2px;
    border-color: #0088a9;
    border-style: solid;
}

.popup.active{
    visibility: visible;
    transition: all 0.2s ease-in-out; 
    transform: scale(1); 
}

#root.blur :not(.popup, .popup *){
    filter: blur(5px) grayscale(30%) brightness(90%);
    scale: 1;
    transition: ease-in 0.2s;
    pointer-events: none;
    user-select: none;
}

.popup h2{
    margin-bottom: 15px;
}

.popup img{
    width: 50px;
    margin-bottom: 2px;
}

.popup button{
    margin-left: 10px;
}

.popup p{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.copy_btn.active{
    background-color: rgb(85, 197, 85);
    background-image: url(../images/tick_icon.svg);
}


.copy_btn{
    background-image: url(../images/copy_to_clipboard_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #0088a9;
    border-radius: 8px;
    padding: 10px 20px;
    transition: none;
}

.close_btn{
    margin-right: -75%;
    transition: none;
    background-image: url(../images/close_icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
 