

footer{
    /* for the footer to stay at bottom, you will need to change settings on body */
    margin-top: auto;
    background: rgb(18, 18, 18);
    color: #edf0f1;
    height: auto;
    width: 100%;
    padding-top: 10px;
}

.main_content{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11.5px;
    text-align: center;
    padding-right: 35px
}

.description p{
    font-weight: 300;
    padding-top: 5px;
    width: 22ch;
    color: #cacaca;
}

.description img{
    width: 52px;
    border-radius: 50%;
}

.links{
    display: flex;
    gap: 10px;
}

.links img{
    width: 30px;
}

.links button{
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.copyright{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 11px;
    color: #c4c4c4;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.copyright hr{
    border: 0.1px solid #a5a5a5;
    margin-bottom: 22px;
}