footer{
    /* for the footer to stay at bottom, you will need to change settings on body */
    margin-top: auto;
    background: rgb(18, 18, 18);
    color: #edf0f1;
    height: auto;
    width: 100%;
    padding-top: 10px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content .message{
    font-size: 10px;
    word-spacing: 1px;
    margin: 0;
    max-height: 250px;
    color: rgba(245, 222, 179, 0.45);
}


.footer-content p{
    max-width: 500px;
    margin: 0px 0 8px 0;
    line-height: 28px;
    font-size: 14px;
    word-spacing: 2px;
}


.footer-content span{
    opacity: .4;
    font-weight: 200;
}